.container {
    width: 300px;
}

h3 {
    font-size: 18px;
    font-family: sans-serif;
    color: dimgray;
    margin-bottom: 10px;
}

input {
    height: 30px;
    width: 280px;
    padding-left: 8px;
    margin-bottom: 10px;
}

button {
    width: 90px;
    height: 36px;
    border-radius: 4px;    
    border: none;
    background-color: #0095ff;
    color: white;
}

button:hover {
    background-color: #0074c7;
    cursor: pointer;
}
